extends layout

block content
  h1= title
  p Welcome to #{title}!
  p Here's how you use the sample:

  ol
    li Click the 
      code Configuration
      | button to set up the application
    li Send a text message to 
      code #{number}
